@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 02%; /* Very dark background, almost black */
    --foreground: 0 0% 90%; /* Very light grey for contrast */

    --card: 0 0% 12%; /* Slightly lighter than background */
    --card-foreground: 0 0% 90%; /* Same as foreground */

    --popover: 0 0% 12%; /* Same as card */
    --popover-foreground: 0 0% 90%; /* Same as foreground */

    --primary: 0 0% 15%; /* Dark grey for primary */
    --primary-foreground: 0 0% 95%; /* Very light for text on primary */

    --secondary: 0 0% 18%; /* Darker grey for secondary */
    --secondary-foreground: 0 0% 90%; /* Same as foreground */

    --muted: 0 0% 20%; /* Dark muted color */
    --muted-foreground: 0 0% 60%; /* Medium grey for muted text */

    --accent: 0 0% 18%; /* Same as secondary */
    --accent-foreground: 0 0% 90%; /* Same as foreground */

    --destructive: 0 84.2% 30%; /* Dark red for destructive */
    --destructive-foreground: 0 0% 95%; /* Light text for destructive */

    --border: 0 0% 20%; /* Darker border */
    --input: 0 0% 20%; /* Same as border */
    --ring: 0 0% 25%; /* Medium grey ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ql-editor {
  min-height: 15rem;
  max-height: 20rem;
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;
  overflow-y: scroll !important;
}
.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid var(--border) !important;
}
.ql-container.ql-snow {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ql-toolbar.ql-snow {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
* {
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--muted);
  border-radius: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
